/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Root Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Input and Textarea Styling */
input,
textarea {
  /* background-color: var(--background); */
  color: black;
  border: 1px solid var(--foreground);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

/* Placeholder Text Color */
::placeholder {
  color: var(--foreground);
  opacity: 0.6; /* Adjust opacity as needed */
}

/* Global Styles */
body {
  @apply antialiased flex flex-col min-h-screen;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Link Styling with Hover Effect */
a {
  transition: color 0.2s ease-in-out;
}

/* Responsive Typography */
body {
  font-size: 1rem; /* Default font size */
}

@media (max-width: 640px) {
  body {
    font-size: 0.875rem; /* Smaller font size for mobile */
  }
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

/* Responsive Font Sizing for Headings */
@media (max-width: 640px) {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

/* Custom Utility Classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Layout Utility Classes */
  .layout-header {
    @apply bg-white dark:bg-gray-800 shadow fixed top-0 left-0 right-0 z-50;
  }

  .layout-main {
    @apply flex-1 flex flex-col lg:flex-row mt-[4rem];
  }

  .layout-aside {
    @apply hidden lg:block lg:w-1/5 bg-gray-100 dark:bg-gray-900 p-4;
  }

  .layout-content {
    @apply flex-1 p-6 sm:p-12 bg-white dark:bg-gray-800;
  }

  .layout-footer {
    @apply bg-white dark:bg-gray-800 shadow;
  }
}

/* Utility for Global Layout Spacing */
.container {
  @apply mx-auto max-w-7xl;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
